.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.result p {
  color: black;
  /* border: 1px solid pink; */
  padding: 0.6rem 1rem;
}
.result button{
    padding: 0.8rem 1rem;
    color: white;
    background-color: pink;
}
.result button.copied{
    background-color: white;
    color: pink;
}